                    <h3>
                        {{ site.titleLocalized(app.request.locale) }}
                    </h3>
                    <div>
                        {% set media = site.mediaLocalized(app.request.locale) %}
                        {% if media is not empty %}
                            {% for img in media %}
                                <figure style="float: right; max-width: 320px">
                                    <img src="{{ app.request.basepath }}{{ img.url }}" style="width: 100%; height: auto" />
                                    <figcaption>{{ img.caption }}</figcaption>
                                </figure>
                            {% endfor %}
                        {% endif %}

                        <p>
                           {{ site.streetLocalized(app.request.locale) }}
                        </p>
                        <p style="padding-right: 8px">
                            {{ site.descriptionLocalized(app.request.locale)|nl2br }}
                            {% set keydocuments = site.keydocumentsLocalized(app.request.locale) %}
                            {% if keydocuments is not empty %}
                                <br />
                                {% for info in keydocuments %} <span class="fas fa-external-link-alt color-gray-medium" aria-hidden="true" style="padding-right: 2px"></span> <a href="{{ info.url }}" target="_blank">{{ info.creator }}, {{ info.name }}</a>{% endfor %}
                            {% endif %}
                            {% set urls = site.getUrlSeparated() %}
                            {% if urls is not empty %}
                                <br />
                                {% for url in urls %} <span class="fas fa-external-link-alt color-gray-medium" aria-hidden="true" style="padding-right: 2px"></span> <a href="{{ url }}" target="_blank">{{ url|prettifyurl }}</a>{% endfor %}
                            {% endif %}
                        </p>
                        {% if site.related is not empty %}
                        <p>{{ 'See also'|trans }}:
                            {% for related in site.related %}
                                <a href="#{{ related.id }}" onclick="activateSite('{{ related.id }}')">{{ related.titleLocalized(app.request.locale) }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                        {% if app.request.locale == 'de' and site.getJuedischesHamburg() is not empty  %}
                            {% for url in site.getJuedischesHamburg() %} <span class="fas fa-external-link-alt color-gray-medium" aria-hidden="true" style="padding-right: 2px"></span> <a href="{% if url starts with 'http' %}{{ url }}{% else %}https://dasjuedischehamburg.de/inhalt/{{ url }}{% endif %}" target="_blank">Weitere Informationen im Nachschlagewerk „Das J&uuml;dische Hamburg“</a>{% endfor %}
                        {% endif %}
                    </div>
