<b><a href="{{ path('places') }}#{{ site.id }}">{{ site.titleLocalized(app.request.locale) }}</a></b><br />
{{ site.descriptionLocalized(app.request.locale)|nl2br|truncate_html(200)|raw }} <a href="{{ path('places') }}#{{ site.id }}">{{ 'read on'|trans }}</a>