{% extends '@App/Default/base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/leaflet-1.6.0/leaflet.css" />
    <script src="{{ app.request.basepath }}/vendor/leaflet-1.6.0/leaflet.js"></script>

    <style>
    .my-label {
        color: white;
        position: absolute;
        /* z-index: -1; */
        background: none;
        border: none;
    }

    .leaflet-tooltip.my-label {
        box-shadow: none;
    }

    .my-label:before,
    .my-label:after {
        border: none;
    }
}
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div id="map" class="col-sm-12" style="min-height: 360px">
        <script>
            function adjustMapHeight() {
                $('#map').height(function(index, height) {
                    return window.innerHeight - $(this).offset().top;
                });
            }

            $( window ).resize(adjustMapHeight);
            adjustMapHeight();

            var map = L.map('map');

            // map.setView([ 53.56810009, 9.9862097 ], 13);
            map.fitBounds([ [ 53.58769, 9.99599  ],
                            [ 53.5600881, 9.9688 ] ]);


            if (true) {
                /*
                 * The following Mapbox styles are available to all accounts using a valid access token:
                 * mapbox://styles/mapbox/streets-v11
                 * mapbox://styles/mapbox/outdoors-v11
                 * mapbox://styles/mapbox/light-v10
                 * mapbox://styles/mapbox/dark-v10
                 * mapbox://styles/mapbox/satellite-v9
                 * mapbox://styles/mapbox/satellite-streets-v11
                 */
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    tileSize: 512,
                    minZoom: 1,
                    maxZoom: 16,
                    zoomOffset: -1,
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                    id: 'mapbox/outdoors-v11', // 'hausverstand/ck9n3jwdp2e6f1imr5ccrf682',
                    accessToken: 'pk.eyJ1IjoiaGF1c3ZlcnN0YW5kIiwiYSI6ImNpemU2OWJvaTAwNHIyd252b2ptaDV2NjkifQ.FGA8-opghZHquZJKlHSFdg',
                }).addTo(map);
            }
            else {
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                    id: 'mapbox.streets'
                }).addTo(map);
            }

            var hash = window.location.hash.substring(1);

            var markerProperties = {
                radius: 12,
                fillColor: '#d42132',
                color: '#d42132',
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8,
            };

            {% for site in sites %}
            {# markerProperties['title'] = {{ site.title['de']|json_encode|raw }}; #}
            var marker = L.circleMarker([ {{ site.latitude }}, {{ site.longitude }} ],
                                        markerProperties)
                .bindTooltip('{{ site.getMarker() }}', { permanent: true, direction: 'center', opacity: 1, offset: [0,0], className: "my-label" })
                .addTo(map)
                .bindPopup({{ site.popup|json_encode|raw }})
                ;

            if ('{{ site.id }}' == hash) {
                marker.openPopup();
            }
            {% endfor %}
            </script>
        </div>
    </div>
{% endblock %}
